<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <header class="header">
        <nav>
            <a href="/">Inicio</a>
            <a href="/products">Productos</a>
            <a href="/uploads">Subir archivos</a>
        </nav>
    </header>
    <main class="container">{{{body}}}</main>
    <footer class="footer">
        <small>&copy 2026</small>
    </footer>
    
</body>
</html>
