<h1>Editar Producto</h1>
<form action="/productos/{{producto._id}}?_method=PUT" method="POST">
    <input name="nombre" type="text" value="{{producto.nombre}}" placeholder="Nombre" />

    <input type="number" name="precio" value="{{producto.precio}}" placeholder="Precio" /> 
    
    <input type="number" name="stock" value="{{producto.stock}}" placeholder="Stock" /> 

    <button>Actualizar</button>

</form>
